@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-cm {
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.ant-col {
     text-align: start !important;
     margin: 0;
     width: 100% !important;
}
.ant-form-item{
     margin-bottom: 5px !important;
}

.ant-layout-sider-children {
     display: flex;
     flex-direction: column;
}
.ant-form-item-required {
     font-size: 12px !important;
     font-weight: 600;
}

* {
     scroll-behavior: smooth;
}
*::-webkit-scrollbar {
     display: none;
   }