@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-cm {
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.ant-col {
     text-align: start !important;
     margin: 0;
     width: 100% !important;
}
.ant-form-item{
     margin-bottom: 5px !important;
}